{% extends "base.html" %}

{% block content %}
  <h1>TODO list</h1>
  <ul>
    {% for task in task_list %}
      <li>
        <div class="content">
          {{ task.content }}
          {% if task.is_done %} <span style="color: green">Done</span>
            {% else %}<span style="color: red">Not done</span>
          {% endif %}
        </div>

        <div class="timer">
          <p>Created: {{ task.datetime }}
            {% if task.is_done %} <span style="color: brown">Deadline: {{ task.deadline }}</span>{% endif %}</p>
        </div>

        <div class="tags">
          <p>Tags: {% for tag in task.tags.all %} {{ tag.name }} {% endfor %}
            <a href="">Update</a>
            <a href="">Delete</a></p>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}